<nav>
	<h1><a href="https://wiks.wiki/"><img class="logo" src="/images/logo.png"></a><br>the site</h1>
	<a href="https://wiks.wiki/"><img class="menu" src="/images/waiting.gif"></a><br>
	<ul class="nav">
		𝔡𝔦𝔯𝔢𝔠𝔱𝔬𝔯𝔶
		<li><a href="https://wiks.wiki/real-talk">politics</a></li>
		<li><a href="https://wiks.wiki/treat-yo-self">self care</a></li>
		<li><a href="https://wiks.wiki/matters-of-the-heart">sweet lovin'</a></li>
		<li><a href="https://wiks.wiki/who-is-wiks">contact</a></li>
	</ul class="nav">
	<p class="center">vm2@williams.edu</p>
</nav>