<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1 class="anim-typewriter typewriter">
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
      </h1>
      {% if page.title != "About" %}
      {% if page.title == "WIKS.WIKI" %}
      {% if paginator.page <= 1 %}
      <p class="lead" id="mobile">{{ site.description }}</p>
      {% endif %}
      {% endif %}
      <p class="lead" id="nomobile">{{ site.description }}</p>
      {% endif %}
    </div>

    <nav class="sidebar-nav">

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
	    {% unless node.tags contains "algolia-ignore" %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
		    {% endif %}
      {% endunless %}
      {% endfor %}

	  {% if page.title == "About" %}
    <div style="padding: 0.25rem 0px 0px;">
      <iframe src="https://open.spotify.com/embed/track/7czdgIxgntsxFAXTASg5Jc" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
    {% endif %}

    </nav>

    <p style="color: #b599b0; margin-bottom: 0.5rem;">&copy; {{ site.time | date: '%Y' }}. All rights reserved. <a href="https://wiks.wiki/feed.xml"><img src="/images/rss.png" alt="rss feed" style="height: 0.8rem; display: inline; margin: 0; border-radius: 0;"></a></p>
  </div>
</div>
