<!DOCTYPE html>
<head>
<title>WIKS.WIKI</title>
<link rel="icon" href="images/favicon.png" type="image/png">
<link rel="stylesheet" type="text/css" href="styleshit.css">
<link rel="stylesheet" type="text/css" href="templateformat.css">
<link rel="stylesheet" type="text/css" href="homeformat.css">
</head>
<body>
<homepage>
	<header><p>Welcome to the site! You are a visitor! I'd tell you which number you are, but I don't know JS well enough for that.</p></header>

	<div class="newsflow1">
		{%- for post in site.posts limit:1 -%}
				<h1> <a class="post-link" href="{{ post.url | relative_url }}">
				{{ post.title | escape }}
				</a> </h1>
			<p>{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
			<span class="post-meta">{{ post.date | date: date_format }}</span>
          {{ post.excerpt }}
		<p class="pink">Click title to see full post...</p>
      {%- endfor -%}
	</p></div>

	<nav>
		<h1><a href="https://wiks.wiki/"><img class="logo" src="images/logo.png"></a><br>the site</h1>
		<a href="https://wiks.wiki/"><img class="menu" src="images/waiting.gif"></a><br>
		<p class="center">𝔴𝔢𝔩𝔠𝔬𝔪𝔢<br><br>
The internet has indulged every single one of our hedonist whims, and I think I was shaped by it, completely and fully. From stupid flash games flooded with malware, to the sweet, loving embrace of unsettingly invasive advertising, the web has changed through the years, shaping the kids who were born with it.
Nothing you look at nowadays is private. I'm just here to hang out, though. The experience of being a person varies so aggressively— I want to use the internet for one of its more innocent purposes: to learn about one another and to gradually accept and understand the common truths between our lives.</p>
		<ul class="nav">
			𝔡𝔦𝔯𝔢𝔠𝔱𝔬𝔯𝔶
			<li><a href="https://wiks.wiki/real-talk">politics</a></li>
			<li><a href="https://wiks.wiki/treat-yo-self">self care</a></li>
			<li><a href="https://wiks.wiki/matters-of-the-heart">sweet lovin'</a></li>
			<li><a href="https://wiks.wiki/who-is-wiks">contact</a></li>
		</ul class="nav">
	</nav>
		<div class="newsflow2">
		{%- for post in site.posts offset:1 limit:1 -%}
				<h1> <a class="post-link" href="{{ post.url | relative_url }}">
				{{ post.title | escape }}
				</a> </h1>
			<p>{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
			<span class="post-meta">{{ post.date | date: date_format }}</span>
          {{ post.excerpt }}
		<p class="pink">Click title to see full post...</p>
      {%- endfor -%}
</p></div>
</homepage>
{%- include footer.html -%}
</body>
</html>
