<!DOCTYPE html>
<head>
<title>WIKS.WIKI</title>
<link rel="icon" href="images/favicon.png" type="image/png">
<link rel="stylesheet" type="text/css" href="styleshit.css">
<link rel="stylesheet" type="text/css" href="templateformat.css">
<link rel="stylesheet" type="text/css" href="homeformat.css">
</head>
<body>
<homepage>
	<header><p>Welcome to the site! You are a visitor! I'd tell you which number you are, but I don't know JS well enough for that.</p></header>

	<div class="newsflow1">
		{%- for post in site.posts limit:1 -%}
				<h1> <a class="post-link" href="{{ post.url | relative_url }}">
				{{ post.title | escape }}
				</a> </h1>
			<p>{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
			<span class="post-meta">{{ post.date | date: date_format }}</span>
          {{ post.excerpt }}
		<p class="pink">Click title to see full post...</p>
      {%- endfor -%}
	</p></div>

	<nav>
		<h1 id="LOGO">w&#865;&#783;&#772;&#775;&#775;&#799;&#812;&#845;&#813;&#853;&#802;&#802;&#809;i&#774;&#843;&#835;&#859;&#838;&#795;&#853;&#793;&#797;&#846;&#857;&#800;&#823;k&#862;&#864;&#785;&#779;&#843;&#773;&#786;&#782;&#813;&#799;&#803;&#860;&#827;&#811;&#797;s&#776;&#864;&#770;&#786;&#862;&#781;&#777;&#777;&#836;&#827;&#866;&#845;&#858;&#807;&#845;&#839;&#801;&#822;.&#772;&#833;&#830;&#844;&#785;&#855;&#839;&#857;&#814;&#805;&#851;&#804;&#804;&#820;w&#834;&#788;&#849;&#849;&#842;&#774;&#835;&#844;&#864;&#857;&#814;&#800;&#790;&#800;&#802;&#858;i&#772;&#855;&#850;&#784;&#856;&#783;&#850;&#837;&#806;&#863;&#827;&#811;&#821;k&#787;&#781;&#864;&#862;&#830;&#772;&#813;&#827;&#826;&#854;&#826;&#851;&#853;&#811;&#800;&#803;&#824;i&#848;&#776;&#842;&#771;&#768;&#849;&#812;&#813;&#801;&#851;&#846;&#866;&#797;&#858;&#857;&#823;</h1>
		<a href="https://wiks.wiki/"><img src="images/waiting.gif" width="100%"></a><br>
		<p class="center">𝖓𝖆𝖛𝖎𝖌𝖆𝖙𝖎𝖔𝖓<br><br>
hi. the internet has indulged every single one of our hedonist whims, and i think i was shaped by it, completely and fully. from stupid flash games flooded with malware, to the sweet, loving embrace of unsettingly invasive advertising on the web, the web has changed through the years, shaping the kids who were born with it. 
nothing you look at nowadays is private. i'm just here to hang out, though. the experience of being a person varies so aggressively— i want to use the internet for one of its most innocent and pure purposes: to learn about one another and to gradually accept and understand the common truths between our lives.</p>
		<ul class="nav">
			<li><a href="https://wiks.wiki/real-talk">politics</a></li>
			<li><a href="https://wiks.wiki/treat-yo-self">self care</a></li>
			<li><a href="https://wiks.wiki/matters-of-the-heart">sweet lovin'</a></li>
			<li><a href="https://wiks.wiki/who-is-wiks">contact</a></li>
		</ul class="nav">
	</nav>
		<div class="newsflow2">
		{%- for post in site.posts offset:1 limit:1 -%}
				<h1> <a class="post-link" href="{{ post.url | relative_url }}">
				{{ post.title | escape }}
				</a> </h1>
			<p>{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
			<span class="post-meta">{{ post.date | date: date_format }}</span>
          {{ post.excerpt }}
		<p class="pink">Click title to see full post...</p>
      {%- endfor -%}
</p></div>
</homepage>
{%- include footer.html -%}
</body>
</html>