---
layout: default
---
<title>template</title>
<body>
<structure>
	{%- include header.html -%}

	<article><h1>{{ page.title | escape }}</h1>
		<p><time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date_to_string: "ordinal", "US" }}
      </time>
      {%- if page.author -%}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
			<p>{{ content }}</p>
	</article>

	{%- include nav.html -%}

	<viewerresponse><p>Someday you'll be able to respond to these posts here.
				{%- if site.disqus.shortname -%}
				{%- include disqus_comments.html -%}
				{%- endif -%}
	</p></viewerresponse>

<end><p>Psst... If you click the Notepad image at the bottom of the site, you can see a page with every post, like, ever.</p></end>
</structure>
{%- include footer.html -%}
</body>